/* set og BG img sa body */
body {
    background-image: url(https://wallpapercave.com/wp/wp12400531.jpg);  
}


.navbar{
    color: rgb(255, 255, 255);
    top: 0%;
    position: fixed;
    background-color:transparent;
    height: 38px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.home {
    color: white;
    text-align: center;
    margin-bottom: 70px;

    .title {
        font-size: 75px;
        font-weight: bolder;
        font-family: Verdana;
        margin-top: 150px;
    }

    .desc {
        font-family: 'Courier New';
    }
}

.pic {
    transition: filter 0.5s ease;
}

.josip-content,
.joash-content {
    transition: opacity 0.5s ease;
}

.about {
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    .title {
        font-size: 75px;
        font-weight: bolder;
        font-family: Verdana;
        margin-top: 150px;
    }
    
    .josip {
        padding: 30px;
        height: 500px;
        width: 48%;
        border-style: solid;
        border-color: black;
        border-radius: 30px;
        margin: 20px auto;
    }
    
    .josip .pic {
        transition: 0.5s ease;
    }
    
    .josip:hover .pic {
        box-shadow: 0 0 0 10px whitesmoke;
        transition: 0.5s ease;
    }
    
    
}

.breaker{
    margin-top: 50px;
}

.projects {
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 100px;

    .title {
        font-size: 75px;
        font-weight: bolder;
        font-family: Verdana;
        margin-top: 150px;
    }
    .desc {
        font-family: 'Courier New';
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: larger;
    }
}

.resume {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

    .title {
        font-size: 75px;
        font-weight: bolder;
        font-family: Verdana;
        margin-top: 150px;
    }
    .desc {
        font-family: 'Courier New';
    }
    .josip {
        padding: 30px;
        height: 500px;
        width: 48%;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        border-radius: 30px;
        margin: 20px auto;
    }
}
.contacts {
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 300px;
    margin-top: 10px;

    .title {
        font-size: 75px;
        font-weight: bolder;
        font-family: Verdana;
        margin-top: 150px;
    }
    .desc {
        font-family: 'Courier New';
    }
    .josip {
        padding: 30px;
        height: 200px;
        width: 48%;
        border-style: solid;
        border-color: black;
        border-radius: 30px;
        margin: 20px auto;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        }
    
        button:hover {
        transform: scale(1.1);
        }
    
        button img {
        transition: transform 0.3s ease-in-out;
        }
    
        button:hover img {
        transform: scale(1.1);
        }
}
footer{
    color: aliceblue;
    text-align: center;
}